body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    background-image: url(./images/bg-intro-desktop.png);
    background-color: rgb(6, 4, 49);
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: repeat;
    backdrop-filter: blur(8px);
    height: 100vh;
    margin: 0;
}

.container_top {
    width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 1%
}

.popup_a {
    text-decoration: none;
    display: inline-block;
    line-height: 48px;
    border-radius: 5px;
    background-color: rgb(39, 22, 167);
    color: white;
    width: 540px;
    text-align: center;
    font-size: 13px;
    -webkit-box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.17);
    box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.17);
    transition: all 0.2s linear;
}

.popup_a:hover {
    background-color: rgb(52, 29, 226);
    transition: all 0.2s linear;
    -webkit-box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.17);
    box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.17);
}

.popup_a_mobile {
    display: none;
}

.main {
    width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.form {
    box-sizing: border-box;
    width: 50%;
    background-color: #ffff;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fa fa-arrow-right {
    padding-left: 100px;
}

.info h1 {
    color: #ffff;
    font-size: 40px;
    line-height: 40px;
    padding-right: 30px;
    margin-bottom: 5px;
}

.info p {
    color: #ffff;
}

#name, #lastname, #email, #password {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    border-radius: 5px;
    border: 1px solid rgb(222, 222, 222);
    padding: 5px 10px 5px 20px;
    margin-bottom: 15px;
}

#name, #lastname, #email, #password::placeholder {
    font-weight: bold;
}

.button {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    border-radius: 5px;
    background-color: rgb(17, 73, 203);
    color: #ffff;
    border: 0px;
    font-weight: bold;
    transition: all 0.2s linear;
}

.button:hover {
    transition: all 0.2s linear;
    background-color: rgb(46, 93, 203);
    cursor: pointer;
}

.form p {
    font-size: 10px;
    color: rgb(186, 184, 197);
    text-align: center;
}

.form a {
    text-decoration: none;
    color: rgb(46, 93, 203);
    text-align: center;
}

.terms:hover {
    color: rgb(46, 93, 203);
    text-decoration: underline;
}
@media screen and (max-width: 450px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .container_top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vw;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info {
        width: 80vw;
        text-align: center;
    }

    .info h1 {
        font-size: 30px;
        line-height: 30px;
    }

    .info p {
        font-size: 14px;
    }

    .form {
        width: 80vw;
    }

    .popup_a {
        display: none;
    }

    .popup_a_mobile {
        text-decoration: none;
        display: inline;
        border-radius: 5px;
        background-color: rgb(39, 22, 167);
        color: white;
        text-align: center;
        font-size: 13px;
        -webkit-box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.17);
        -moz-box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.17);
        box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.17);
        transition: all 0.2s linear;
        margin-bottom: 25px;
        width: 80vw;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 45px;
    }

    .popup_a_mobile:hover {
        background-color: rgb(52, 29, 226);
        transition: all 0.2s linear;
        -webkit-box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.17);
        -moz-box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.17);
        box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.17);
    }
}